@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important;
}
html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
body{
  background: linear-gradient(180deg, #1C3A5A, #e0e0e0);
}
a {
  color: inherit;
  text-decoration: none;
}
/* headings */
h1 {
  color: #151515;
  font-size: 30px;
}
h2 {
  color: #ffffff;
  font-size: 25px;
}
h3 {
  color: #454545;
  font-size: 20px;
}
/* overright the alert style from @aws-amplify/ui-react */
.amplify-alert{
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%!important;
  z-index: 3 !important;
}
/* popup component */
.popup-component{
  .buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
  }
}
/* modal view style */
.modal-view{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  &>div {
      background-color: #fff;
      padding: 20px;
      border-radius: 4px;
  }
}
/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F5F5F5;
  padding: 5px 10px;
  z-index: 2;
  position: fixed;
  width: 100%;
  top:0;
  right: 0;
  left: 0;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.3); 
  a{
    display: inherit !important;
  }
}
/* navbar */
nav {
  position: fixed;
  background-color: #f5f5f5;
  width: 150px;
  left: 0;
  top: 50px;
  bottom: 0;
  height: 100%;
  z-index: 1;
  padding: 20px 10px;
  box-shadow: 5px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
/* main content */
.main{
  margin-left: 150px;
  margin-top: 50px;
  padding: 20px 40px 60px 40px;
}
/* table */
table, .head-table{
  min-width: 500px !important;
  .rowClickable{
    cursor: pointer;
    &:hover{
      background-color: #c1c6ca !important;
    }
  }
}
/* auth container */
[data-amplify-authenticator]{
  min-height: 100vh;
}
/* date picker */
.datePicker {
  span.label {
    color: var(--amplify-components-field-label-color);
  }
  input {
    color: var(--amplify-components-fieldcontrol-color);
    font-size: var(--amplify-components-fieldcontrol-font-size);
    line-height: var(--amplify-components-fieldcontrol-line-height);
    padding-block-start: var(--amplify-components-fieldcontrol-padding-block-start);
    padding-block-end: var(--amplify-components-fieldcontrol-padding-block-end);
    padding-inline-start: var(--amplify-components-fieldcontrol-padding-inline-start);
    padding-inline-end: var(--amplify-components-fieldcontrol-padding-inline-end);
    transition: all var(--amplify-components-fieldcontrol-transition-duration);
    width: 100%;
    border-color: var(--amplify-components-fieldcontrol-border-color);
    border-radius: var(--amplify-components-fieldcontrol-border-radius);
    border-style: var(--amplify-components-fieldcontrol-border-style);
    border-width: var(--amplify-components-fieldcontrol-border-width);
    outline-color: var(--amplify-components-fieldcontrol-outline-color);
    outline-style: var(--amplify-components-fieldcontrol-outline-style);
    outline-width: var(--amplify-components-fieldcontrol-outline-width);
    outline-offset: var(--amplify-components-fieldcontrol-outline-offset);
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    display: inline-block;
    --amplify-components-fieldcontrol-color: var(--amplify-components-input-color);
    --amplify-components-fieldcontrol-border-color: var(--amplify-components-input-border-color);
    --amplify-components-fieldcontrol-font-size: var(--amplify-components-input-font-size);
    --amplify-components-fieldcontrol-focus-border-color:
  }
  input:focus {
    border-color: var(--amplify-components-fieldcontrol-focus-border-color);
    box-shadow: var(--amplify-components-fieldcontrol-focus-box-shadow);
  }
}
/* small screen */
@media (max-width: 900px) {
  nav{
    width: 40px;
    align-items: center;
    svg{
      margin:0 !important;
    }
    span{
      display: none;
    }
  }
  .main{
    margin-left: 40px;
    padding: 20px 10px 60px 10px;
  }
  table button{
    display: block !important
  }
  table .actionCell{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

